{% extends 'base.html' %}

{% block title %}
    {{ block.super }} Заголовок add_news
{% endblock %}

{% block sidebar %}
    {% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<main class="container">
    <div class="bg-light p-5 rounded">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h2>Уверены, что хотите удалить ваш аккаунт?</h2>
                <p class="lead">После удаления пользователя нельзя будет восстановить,
                    а все его ранее опубликованные записи будут удалены и их также нельзя будет вернуть </p>
                    {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-dark" type="submit">Удалить</button>
                <a href="{% url 'user' %}" class="btn btn-primary">Отменить</a>
            </div>
        </form>
    </div>
</main>

  {% else %}
      <main class="container">
      <div class="bg-light p-5 rounded">
          <center>
              <h2>У вас нет аккаунта</h2>
              <p class="lead">Следовательно вы не можете<strong> удалять </strong>учетную запись</p>
          </center>
       </div>
    </main>
  {% endif %}

{% endblock %}