{% extends 'base.html' %}

{% block title %}
    {{ block.super }} Заголовок home_news_list
{% endblock %}

{% block sidebar %}
    {% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}

<h2>Популярное</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    {% for item in news %}

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="172" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#0e6efd"></rect><text style="font-size: 100px;" x="30%" y="50%" fill="#eceeef" dy=".3em">
                 #{% cycle '1' '2' '3' '4' '5' '6' %}</text></svg>

            <div class="card-body">
              <p class="card-text">{{ item.title|slice:"10" }}{% if item.title|length > 10 %}...{% endif %}</p>
              <div class="d-flex justify-content-between align-items-center">
              <a href="{% url 'view_news' item.pk %}" class="btn btn-sm btn-outline-primary">Прочитать</a>

                  {% if item.views|stringformat:"i"|length and item.views|stringformat:"i"|length == 18 %}
                    <small class="text-muted">{{ item.views|stringformat:"i"|slice:3 }}Q</small>

                  {%  elif item.views|stringformat:"i"|length and item.views|stringformat:"i"|length == 17 %}
                    <small class="text-muted">{{ item.views|stringformat:"i"|slice:2 }}Q</small>

                  {%  elif item.views|stringformat:"i"|length and item.views|stringformat:"i"|length == 16 %}
                    <small class="text-muted">{{ item.views|stringformat:"i"|slice:1 }}Q</small>

                  {%  elif item.views|stringformat:"i"|length and item.views|stringformat:"i"|length == 15 %}
                    <small class="text-muted">{{ item.views|stringformat:"i"|slice:3 }}T</small>

                  {%  elif item.views|stringformat:"i"|length and item.views|stringformat:"i"|length == 14 %}
                    <small class="text-muted">{{ item.views|stringformat:"i"|slice:2 }}T</small>

                  {%  elif item.views|stringformat:"i"|length and item.views|stringformat:"i"|length == 13 %}
                    <small class="text-muted">{{ item.views|stringformat:"i"|slice:1 }}T</small>

                  {%  elif item.views|stringformat:"i"|length and item.views|stringformat:"i"|length == 12 %}
                    <small class="text-muted">{{ item.views|stringformat:"i"|slice:3 }}B</small>

                  {%  elif item.views|stringformat:"i"|length and item.views|stringformat:"i"|length == 11 %}
                    <small class="text-muted">{{ item.views|stringformat:"i"|slice:2 }}B</small>

                  {%  elif item.views|stringformat:"i"|length and item.views|stringformat:"i"|length == 10 %}
                    <small class="text-muted">{{ item.views|stringformat:"i"|slice:1 }}B</small>

                  {%  elif item.views|stringformat:"i"|length and item.views|stringformat:"i"|length == 9 %}
                    <small class="text-muted">{{ item.views|stringformat:"i"|slice:3 }}M</small>

                  {%  elif item.views|stringformat:"i"|length and item.views|stringformat:"i"|length == 8 %}
                    <small class="text-muted">{{ item.views|stringformat:"i"|slice:2 }}M</small>

                  {%  elif item.views|stringformat:"i"|length and item.views|stringformat:"i"|length == 7 %}
                    <small class="text-muted">{{ item.views|stringformat:"i"|slice:1 }}M</small>

                  {% else %}
                    <small class="text-muted">{{ item.views }}</small>

                  {% endif %}

              </div>
            </div>
          </div>
        </div>


    {% endfor %}

      </div>

{% if news|length == 0 %}
<p>
             <main class="container">
                 <div class="bg-light p-5 rounded">
                     <center>
                         <h3>Добавьте свою первую запись!)</h3>
                     </center>
                 </div>
             </main>
</p>
{% endif %}

{% endblock %}