{% extends 'base.html' %}

{% block title %}
    {{ block.super }} Заголовок update_news
{% endblock %}

{% block sidebar %}
    {% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}

        {% if request.user == news_author %}
            <h2>Редактирование новости</h2>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.title }}<br>
                {{ form.content }}<br>
                <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
            </form>
        {% else %}
            <main class="container">
              <div class="bg-light p-5 rounded">
              <center>
                  <h2>Данная запись не принадлежит вам!</h2>
                  <p class="lead">Вы не можете ее <strong>редактировать</strong>, только прочитать</p>
              </center>
              </div>
            </main>
        {% endif %}



    {% else %}
        <main class="container">
          <div class="bg-light p-5 rounded">
          <center>
              <h2>Вам доступен лишь режим чтения записей</h2>
              <p class="lead">Авторизируйтесь и уже тогда вы сможете <strong>удалять, добавлять, редактировать</strong></p>
          </center>
          </div>
        </main>
    {% endif %}

{% endblock %}