{% extends 'base.html' %}

{% block title %}
    {{ block.super }} Заголовок user
{% endblock %}

{% block sidebar %}
    {% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<h2 xmlns="http://www.w3.org/1999/html">Личный кабинет</h2>
<div class="dropdown-menu position-static d-flex align-items-stretch p-2 rounded-3 w-600px">
  <nav class="d-grid gap-2 col-12">

    <span class="rounded-2 d-flex align-items-center gap-3 py-2 px-3 lh-sm text-start">
      <div>
          {% if user.username|length > 70 %}
          <strong class="d-block" style="font-size: 9px; color: #0e6efd; "> {{ user.username }} </strong>
          {% elif user.username|length <= 70 %}
          <strong class="d-block" style="font-size: 20px; color: #0e6efd; "> {{ user.username }} </strong>
          {% endif %}
          <small>Никнэйм</small>
      </div>
    </span>

    <span class="rounded-2 d-flex align-items-center gap-3 py-2 px-3 lh-sm text-start">
      <div>
          {% if user.first_name %}
              {% if user.first_name|length > 70 %}
                <strong class="d-block" style="font-size: 9px; color: #0e6efd; "> {{ user.first_name }} </strong>
              {% elif user.first_name|length <= 70 %}
                <strong class="d-block" style="font-size: 20px; color: #0e6efd; "> {{ user.first_name }} </strong>
              {% endif %}
              <small>Имя</small>
          {% else %}
            <strong class="d-block" style="font-size: 20px; color: #6d757d;">Не зарегестрировано</strong>
            <small>Имя</small>
          {% endif %}
      </div>
    </span>

    <span class="rounded-2 d-flex align-items-center gap-3 py-2 px-3 lh-sm text-start">
      <div>
          {% if user.last_name %}
            {% if user.last_name|length > 70 %}
                <strong class="d-block" style="font-size: 9px; color: #0e6efd; "> {{ user.last_name }} </strong>
            {% elif user.last_name|length <= 70 %}
                <strong class="d-block" style="font-size: 20px; color: #0e6efd; "> {{ user.last_name }} </strong>
            {% endif %}
            <small>Фамилия</small>
          {% else %}
            <strong class="d-block" style="font-size: 20px; color: #6d757d;">Не зарегестрировано</strong>
            <small>Фамилия</small>
          {% endif %}
      </div>
    </span>

    <span class="rounded-2 d-flex align-items-center gap-5 py-2 px-3 lh-sm text-start">
      <div>
        {% if user.email %}
            {% if user.email|length > 100 %}
                <strong class="d-block" style="font-size: 4.5px; color: #0e6efd; "> {{ user.email }} </strong>
            {% elif user.email|length <= 70 %}
                <strong class="d-block" style="font-size: 20px; color: #0e6efd; "> {{ user.email }} </strong>
            {% else %}
                <strong class="d-block" style="font-size: 9px; color: #0e6efd; "> {{ user.email }} </strong>
            {% endif %}
            <small>E-mail</small>
        {% else %}
        <strong class="d-block" style="font-size: 20px; color: #6d757d;">Не зарегестрировано</strong>
        <small>E-mail</small>
        {% endif %}
      </div>
    </span>
  </nav>
</div>

<nav class="d-inline-flex mt-5 mt-md-3 ms-md-auto">
    <div class="me-5 py-0">
<a href="{% url 'edit_user' %}" class="btn btn-primary">Редактивароть</a>
<a href="{% url 'delete_user' %}" class="btn btn-outline-dark">Удалить аккаунт</a>
    </div>
</nav>


{% else %}
    <main class="container">
      <div class="bg-light p-5 rounded">
          <center>
              <h2>Вам доступен лишь режим чтения записей</h2>
              <p class="lead">Авторизируйтесь и уже тогда вы сможете <strong>отправлять письма по почте</strong></p>
          </center>
      </div>
    </main>
{% endif %}

{% endblock %}